AuthType Basic
AuthBasicProvider ldap
AuthName "login...."
AuthLDAPURL "ldap://192.168.3.112/dc=josue,dc=local?uid?sub?(objectClass=*)"
AuthLDAPBindDN "cn=admin,dc=josue,dc=local"
AuthLDAPBindPassword paso
Require ldap-user Currito1